/* ====== Global layout ====== */
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}

.globalLayoutSetup {
  width: 99%;
  background-color: bisque;
}

.taskboardLayoutSetup {
  background-color: chocolate;
  display: inline-block;
}

/* ====== Title section ====== */
#title {
  height: 10%;
}

/* ====== ProgressBar section ====== */
#progressBarAndClickButtonContainer {
  height: 12%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#progressBarBorder {
  height: 50%;
  width: 70%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 0.5%;
}

#progressBarContent {
  background-color: purple;
  height: 90%;
  color: black;
  border-radius: 5px;

  display: flex;
  justify-content: right;
  align-items: center;
}

#progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blanchedalmond;
}

#idleBtn {
  margin: 5px;
}

/* ====== Narrator Textbox section ====== */
#narratorTextBox {
  height: 12%;
  display: flex;
}

#narratorTextPlace {
  overflow: auto;
  width: 80%;
  height: 100%;
}

/* ====== Boards section ====== */
#allBoards {
  display: flex;
  height: 64%;
  justify-content: space-around;
  align-items: center;
}

/* -- Statsboard part -- */
#statsBoard {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  width: 15%;
  height: 90%;
}

.encadrer-un-contenu {
  border: 1px solid black;
  padding: 5px;
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin: 5px;
}

.cryptoIndicators {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

/* -- Taskboard part -- */
#taskBoard {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  width: 57%;
  height: 90%;
}

#tabsButtons {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button.active {
  background-color: #ccc;
}

.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Shop */

.shopBuyable {
  width: 20%;
}



/* -- Formular part -- */
#formularBoard {
  width: 25%;
  height: 90%;
}